body {
    background-color: #355e88 !important;
}

::-webkit-scrollbar{
    height: 4px;
    overflow: hidden;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 16px;
    height: 10px;
}
